; {{ ansible_managed }}

[general]
static=yes
writeprotect=no
clearglobalvars=yes

[globals]

[noauthenticated]


[{{ asterisk_context }}]
{% for user in asterisk_users %}
exten => {{ user.extension }},1,Dial(SIP/{{ user.id }})
{% endfor %}

