; {{ ansible_managed }}

[modules]
autoload=yes

noload => res_odbc.so
noload => res_config_odbc.so
noload => pbx_gtkconsole.so
noload => chan_alsa.so
noload => chan_oss.so
noload => chan_console.so
noload => chan_skinny.so
noload => app_ivrdemo.so
noload => app_saycounted.so
noload => app_skel.so
noload => chan_mobile.so
noload => chan_jingle.so
noload => chan_motif.so
noload => chan_skinny.so
noload => chan_vpb.so
noload => res_ael_share.so
noload => cdr_odbc.so
noload => cdr_adaptive_odbc.so
noload => cdr_odbc.so
noload => cel_odbc.so
noload => res_adsi.so
noload => pbx_realtime.so
noload => pbx_dundi.so
noload => res_calendar.so
noload => res_config_curl.so
noload => res_config_ldap.so
noload => res_config_mysql.so
noload => res_config_pgsql.so
noload => res_config_sqlite.so
noload => res_config_sqlite3.so
noload => res_format_attr_h263.so
noload => res_format_attr_h264.so
noload => res_http_websocket.so
noload => res_jabber.so
noload => res_realtime.so
noload => res_timing_timerfd.so
noload => res_xmpp.so

